.popular-movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.carousel-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 46vh;
    width: 100%;
    max-width: 100dvw;
    z-index: 1;
}

.popular-movie-text {
    font-size: clamp(1.3rem, 2vw, 3rem);
    color: whitesmoke;
    margin-top: 3rem;
}
