.movie-card {
    height: 36dvh;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10%;
}
.overlay {
    height: 36dvh;
    width: 100%;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color: white;
    font-weight: 300;
    overflow-wrap: break-word;
    padding: clamp(0rem, 2vw, 1.8rem);
    border-radius: 1rem;
    gap: 1.5rem;
}

.overlay:hover {
    opacity: 1;
}
.movie-card:hover {
    transform: scale(1.2) translateZ(20px);
    z-index: 2;
}

.movie-card-badge {
    font-size: clamp(0.5rem, 1vw, 0.8rem);
    max-height: 6dvh;
}
.movie-card-title-text {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin-top: 1rem;
    max-height: 12dvh;
}
.movie-card-info-text {
    font-size: clamp(10px, 2vw, 16px);
    margin-top: 1rem;
}

.movie-card-rate-and-release {
    display: flex;
    flex-direction: row;
    font-size: clamp(0.6rem, 0.7vw, 1rem);
    align-items: center;
    justify-content: space-between;
    max-height: 6dvh;
}
.movie-card-overview-text {
    font-size: clamp(10px, 2vw, 13px);
    margin-top: 1rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 11.5dvh;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
    .movie-card {
        border-radius: 0.3rem;
    }
    .overlay {
        border-radius: 0.3rem;
    }
    .movie-card-title-text {
        margin-top: 0.5rem;
    }
    .movie-card:hover {
        transform: scale(1.05);
    }
    .overlay {
        padding: 1rem;
    }
    .movie-card-overview-text {
        margin-top: 0.3rem;
    }
    .movie-card-info-text {
        margin-top: 0rem;
    }
}
