@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&family=Song+Myung&display=swap');
html,
body,
#root {
    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: auto;
    height: 100%;
    background-color: black;
}
.noto-sans-kr-300 {
    font-family: 'Noto Sans KR', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.tagline-text {
    color: gray;
    font-size: clamp(1rem, 1.3vw, 3rem);
    font-family: 'Song Myung', serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-container {
    width: 100%;
    height: 100%;
}

.netflix-logo {
    width: 100px;
    height: auto;
}

.temp {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
